<footer class="fixed-bottom bg-black text-center text-white p-3">
    © 2025 Copyright: <a class="text-white" href="https://github.com/guilhermecolares" target="_blank" rel="noopener noreferrer">Guilherme Colares</a>
</footer>