<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>_navbar}}

    {{>_messages}}

    {{{body}}}

    {{>_footer}}

    <script src="/js/bootstrap.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>

